<div class="w-100">
  <div class="d-flex justify-content-center input-group mt-3 mb-3 ">
    <div class="w-25">
      <input type="text" class="form-control" (keyup)="buscar($event)" placeholder="Buscar">
    </div>
  </div>
    <div class="d-flex flex-wrap justify-content-center mt-3">
        <div class="card m-3" *ngFor="let work of workouts" style="width: 18rem; height: 12rem;">
            <div class="card-body">
              <h5 class="card-title text-center mb-3">{{work.name}}</h5>
              <h6 class="card-subtitle mb-2 text-center text-muted">Trainer Tips</h6>
              <p class="card-text">{{work.trainerTips}}</p>
            </div>
          </div>
    </div>
</div>